<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="manifest" href="manifest.json" />
    <title>Paperweight</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Cabin:400,600"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet" />

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Autofill CSS -->
    <link rel="stylesheet" type="text/css" href="css/autocomplete.css" />

    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/toaster.css" rel="stylesheet" type="text/css" />
    <!-- <link href="css/ngToast-animations.css" rel="stylesheet" type="text/css"> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="v2-css/home.css" />
  </head>

  <body ng-app="sp" ng-cloak>
    <toaster-container
      toaster-options="{'body-output-type': 'trustedHtml'}"
    ></toaster-container>
    <div id="curtains"></div>
    <div id="wrapper">
      <div data-ng-controller="LeftCtrl">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="toggleMenu()">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/dashboard">
              <img
                src="./img/diamond-icon.png"
                style="height: 25px; vertical-align: middle; display: inline"
              />
              Paperweight</a
            >
          </div>
          <!-- Top Menu Items -->
          <ul class="nav navbar-right top-nav hidden-xs hidden-sm">
            <li class="dropdown" ng-controller="topbar">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"
                ><i class="fa fa-user"></i> {{userName}}
              </a>
            </li>
          </ul>
        </nav>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

        <!-- LEFT SIDE NAV BAR  -->
        <div
          class="leftSideBar hidden-print"
          ng-class="{'leftSideBar open' :  (menuOpen==true), 'leftSideBar' : (menuOpen==false)}"
        >
          <div class="hidden-sm hidden-lg hidden-md userProfile">
            <i class="fa fa-user"></i> {{userName}}
          </div>
          <ul class="leftNav">
            <li data-ng-class="{'active': (section=='dashboard' )}">
              <a href="#/dashboard/"
                >Dashboard <i class="fa fa-area-chart fa-lg pull-right"></i
              ></a>
            </li>
            <li data-ng-class="{'active': (section=='product' )}">
              <a href="#/product/1"
                >Products <i class="fa fa-cube fa-lg pull-right"></i
              ></a>
            </li>
            <li data-ng-class="{'active': (section=='client' )}">
              <a href="#/client/1"
                >Clients <i class="fa fa-users fa-lg pull-right"></i
              ></a>
            </li>
            <li data-ng-class="{'active': (section=='invoice' )}">
              <a href="#/invoice/1/All"
                >Invoices <i class="fa fa-sticky-note fa-lg pull-right"></i
              ></a>
            </li>
            <li data-ng-class="{'active': (section=='account' )}">
              <a href="#/account/1"
                >Accounts <i class="fa fa-balance-scale fa-lg pull-right"></i
              ></a>
            </li>
            <li data-ng-class="{'active': (section=='setting' )}">
              <a href="#/profile/"
                >Settings <i class="fa fa-gear fa-lg pull-right"></i
              ></a>
            </li>
            <li>
              <a href="FAQ.pdf" target="_blank"
                >Need Help <i class="fa fa-life-ring fa-lg pull-right"></i
              ></a>
            </li>
            <li ng-click="logout()">
              <a href="#">Logout <i class="fa fa-key fa-lg pull-right"></i></a>
            </li>
          </ul>
        </div>
        <!-- END LEFT SIDE NAV BAR  -->
      </div>

      <div id="page-wrapper" ng-view>
        <!-- /.container-fluid -->
      </div>
      <div style="text-align: right; padding-right: 10px; padding-bottom: 5px">
        <table style="float: right">
          <tr>
            <!-- <td><span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=oInyuYeyFvo3sSlP4rKBmuqNJaR6RlHCAWdJTVcUABldtguyd0qP0StWMYXs"></script></span></td> -->
            <td>
              <script
                type="text/javascript"
                src="https://cdn.ywxi.net/js/1.js"
                async
              ></script>
            </td>
          </tr>
        </table>
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap Core JavaScript -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.js"></script>
    <!-- <script src="js/angular-material.min.js"></script> -->
    <!-- <script src="js/ngToast.js"></script> -->

    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/toaster.js"></script>
    <script src="js/angular.min.messages.js"></script>

    <script src="js/ui-bootstrap-tpls.min.js"></script>
    <script src="js/bootstrap-date.js"></script>
    <script src="js/autocomplete.js"></script>
    <script src="js/angular-bootstrap-confirm.js"></script>
    <!-- <script src="js/autocomplete.js"></script> -->

    <script src="js/angular-main.js"></script>
    <script src="js/products.js"></script>
    <script src="js/clients.js"></script>
    <script src="js/invoices.js"></script>
    <script src="js/user.js"></script>
    <script src="js/accounts.js"></script>

    <!-- <script src="js/settings.js"></script> -->
    <script src="js/Chart.js"></script>
    <script src="js/chart-data.js"></script>
    <script src="js/ui-bootstrap.min.js"></script>
    <!-- <script src="js/angular-prompt.js"></script> -->

    <!-- Morris Charts JavaScript -->
    <!-- <script src="js/plugins/morris/raphael.min.js"></script> -->
    <script src="v2-js/home.js"></script>
  </body>
</html>
